body{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.main{
    display: flex;
    align-items: flex-start;
    background-color: #d1d1d1;
    width: 700px;
    height: 600px;
    border-radius: 20px;
    position: relative;
}
.inputAndButton{
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #919191;
    height: 80px;
    width: 700px;
    border-radius: 20px;
    align-items: center;
}
.todoDiv0{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 80px;
}
.todoDiv1{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 170px;
}
.todoDiv2{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 260px;
}
.todoDiv3{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 350px;
}
.todoDiv4{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 440px;
}
.todoDiv5{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 530px;
}
#input1{
    margin: 25px;
    width: 450px;
    height: 40px;
    border-radius: 55px;
    border: none;
    padding-left: 11px;
    font-size: 17px;
    font-weight: bold;
}
#button1{
    border-radius: 55px;
    width: 150px;
    margin-right: 25px;
    height: 40px;
    border: none;
    font-weight: bold;
}
#button1:hover{
    background-color: #fff;
    cursor: pointer;
}
.pDiv{
    margin-left: 70px;
    font-size: 19px;
    font-weight: bold;
}
.checkBoxDivOff{
    cursor: pointer;
    display: block;
    background-color: #919191;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 70px;
}
.checkBoxDivOff:hover{
    border: 1px solid black;
}
.checkBoxBody{
    display: block;
    background-color: #919191;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 70px;
    position: relative;
    z-index: 5;
}
.checkBoxDivOn{
    display: inline-block;
    width: 6px;
    height: 13px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate( 45deg);
    position: absolute;
    left: 6px;
    z-index: 6;
}
.PCrossed{
    margin-left: 70px;
    font-size: 19px;
    font-weight: bold;
    text-decoration: line-through;
}
.hr1{
    left: 50px;
    width: 600px;
    border-top: 1px solid black;
    position: absolute;
    top: 130px;
}
.hr2{
    left: 50px;
    width: 600px;
    border-top: 1px solid black;
    position: absolute;
    top: 220px;
}
.hr3{
    left: 50px;
    width: 600px;
    border-top: 1px solid black;
    position: absolute;
    top: 310px;
}
.hr4{
    left: 50px;
    width: 600px;
    border-top: 1px solid black;
    position: absolute;
    top: 400px;
}
.hr5{
    left: 50px;
    width: 600px;
    border-top: 1px solid black;
    position: absolute;
    top: 490px;
}